<!-- <app-static-carousel></app-static-carousel> -->
<app-carousel>
  <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
    <div class="card" *appCarousel>
      <h2 class="card-title">Slide {{ item }}</h2>
      <img src="https://picsum.photos/seed/picsum/300/100" />
      <div class="card-content">
        <p>
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
          ipsum Lorem ipsum Lorem ipsum .
        </p>
        <a href="#" class="button">Read more</a>
      </div>
    </div>
  </ng-container>
</app-carousel>
